<div class="relative">
  <%= image_tag('new_organization_bg.png', class: "w-full object-cover") %>
  <div class="absolute top-[35%] left-[50%] translate-x-[-50%] translate-y-[-50%]">
    <h3 class="text-[#101828] text-[30px] font-[500] my-[32px]"><%= t('sessions.sign_in_title') %></h3>
    <p>
      <% if flash[:alert].present? %>
        <el-alert title="<%= flash[:alert] %>" type="error" class="justify-center" />
      <% end %>
    </p>
    <%= form_tag('/login', method: 'post') do %>
      <div class="my-[20px] flex flex-col gap-[6px]">
        <%= label_tag(:name, t('sessions.name')) %>
        <%= text_field_tag(:name, nil, placeholder: t('sessions.name_placeholder'), class: 'w-[332px] h-[44px] rounded-[8px] py-[10px] px-[14px]') %>
      </div>
      <div class="my-[20px] flex flex-col gap-[6px]">
        <%= label_tag(:password, t('sessions.password')) %>
        <%= password_field_tag(:password, nil, placeholder: t('sessions.password_placeholder'), class: 'w-[332px] h-[44px] rounded-[8px] py-[10px] px-[14px]') %>
      </div>
      <div class="my-[20px]">
        <%= submit_tag(t('sessions.submit'), class: 'w-[332px] h-[44px] bg-[#3250BD] text-white rounded-[8px]') %>
      </div>
      <P><%= t('sessions.no_account') %> <a href="/signup" class="text-[#3250BD]"> <%= t('sessions.sign_up') %> </a><p>
    <% end %>
  </div>
</div>