<div class="lead-form lead-form-index__div" data-controller='sticky-table'>
  <% if @lead_forms.blank? %>
    <div class="leads-index--no-content__div">
      <h2>
        所有 Lead Form
      </h2>
      <div class="leads-index--no-content__div-content-outer-div">
        <div class="leads-index--no-content__div-content-inner-div">
          <p> 目前暂无 Lead Form 创建 </p>
        </div>
      </div>
    </div>
  <% else %>
    <div class="table__div">
      <table class="table" data-target="sticky-table.table" data-action="scroll->sticky-table#onScroll">
        <thead>
          <tr>
            <th> 内部标题 </th>
            <th> 标题 </th>
            <th> 状态 </th>
            <th class='table__sticky--right' data-sticky-table-target="rightColumn"></th>
          </tr>
        </thead>
        <tbody>
          <% @lead_forms.each do |lead_form| %>
            <tr onclick=<%= "window.location.href='/lead_forms/#{lead_form.id}'; return false" %>>
              <td><%= lead_form.internal_title %></td>
              <td><%= lead_form.title %></td>
              <td class="lead-form-text-status <%= lead_form.lead_form_status %>"><%= lead_form.lead_form_status %></td>
              <td onclick="event.stopPropagation();" class='table__sticky--right' data-sticky-table-target="rightColumn">
                <%= link_to '更新', edit_lead_form_path(lead_form), class: 'text-decoration-none' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @lead_forms %>
  <% end %>
</div>
