<div class="leads leads-crud">
  <div>
    <h2 style="margin:0"> <%= @lead_form.internal_title %> </h2>
    <p class="leads-status-label__p">
      <span class="regular-status <%= @lead_form.lead_form_status %>"><%= @lead_form.lead_form_status %></span>
    </p>
  </div>
  <div class="lead-detail">
    <p class="lead-attr-group">
      <label>标题: </label>
      <%= @lead_form.title.presence %>
    </p>
    <p class="lead-attr-group">
      <label>描述: </label>
      <%= simple_format(@lead_form.description.presence) %>
    </p>
    <p class="lead-attr-group">
      <label>Lead Source: </label>
      <%= @lead_form.lead_source.presence %>
    </p>
    <p class="lead-attr-group">
      <label>Channel: </label>
      <%= @lead_form.channel.presence || '-----'  %>
    </p>
    <p class="lead-attr-group">
      <label>Lead Status: </label>
      <%= @lead_form.lead_status.presence || '-----' %>
    </p>
    <p class="lead-attr-group">
      <label>Local Channel: </label>
      <%= @lead_form.local_channel.presence || '-----' %>
    </p>
    <p class="lead-attr-group">
      <label>Lead Type: </label>
      <%= @lead_form.lead_type.presence || '-----' %>
    </p>
    <p class="lead-attr-group">
      <label>Lead Fields: </label>
      <%= @lead_form.lead_fields.presence || '-----' %>
    </p>
    <p class="lead-attr-group">
      <label>表单链接: </label>
      <a href=<%= @lead_form.form_url %>>
        <%= @lead_form.form_url %>
      </a>
    </p>
    <hr />
    <div class="row">
      <div class="col">
        <%= button_to "更新", edit_lead_form_path(id: @lead_form.id), method: 'get', class: 'admin-btn white margin-bottom-48' %>
      </div>
      <div class="col">
        <% if @lead_form.active? %>
          <%= button_to "下线活动", toggle_lead_form_status_lead_form_path(id: @lead_form.id), method: 'post', class: 'admin-btn gray margin-bottom-48' %>
        <% end %>
        <% if @lead_form.inactive? %>
          <%= button_to "上线活动", toggle_lead_form_status_lead_form_path(id: @lead_form.id), method: 'post', class: 'admin-btn green margin-bottom-48' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
