<div class="max-w-7xl m-auto pb-[120px] sm:pb-[60px]">
  <div class="mb-[60px]">
    <%= image_tag url_for(@lead_form.campaign.desktop_banner), class: "sm:hidden w-full" %>
    <%= image_tag url_for(@lead_form.campaign.mobile_banner), class: "hidden sm:block w-full" %>
  </div>
  <div class="text-[48px] font-[600] mb-[16px] text-center"> <%= @lead_form.title %> </div>
  <div class="text-[20px] leading-[28px] text-center mb-[36px]"> <%= @lead_form.description %> </div>
  <%= form_tag leads_path, method: 'post' do %>
    <%= hidden_field_tag 'lead_source', @lead_form.lead_source  %>
    <%= hidden_field_tag 'channel', @lead_form.channel  %>
    <%= hidden_field_tag 'utm_source', @lead.utm_source  %>
    <%= hidden_field_tag 'utm_medium', @lead.utm_medium  %>
    <%= hidden_field_tag 'utm_keyword', @lead.utm_keyword  %>
    <%= hidden_field_tag 'utm_content', @lead.utm_content  %>
    <%= hidden_field_tag 'lead_form_uuid', @lead_form.uuid  %>

    <div class="p-[36px] max-w-[766px] xl:w-[80%] sm:w-[90%] sm:p-[20px] m-auto bg-white flex flex-wrap justify-between gap-[16px] lg:justify-center rounded-lg">
      <% if flash[:alert].present? %>
        <el-alert title="<%= flash[:alert] %>" type="error" center show-icon></el-alert>
      <% end %>
      <% @lead_form.lead_fields.each do |field| %>
        <%= render "partials/lead_fields/leads_#{field}" %>
      <% end %>

      <div class="w-full mt-[32px] sm:mt-0">
        <%= submit_tag "提交表单", class: 'flex items-center justify-center w-[88px] h-[32px] bg-[#409EFF] font-[500] text-white rounded cursor-pointer disabled:cursor-not-allowed disabled:bg-[#ccc]', disabled: @lead_form.inactive? %>
      </div>
    </div>
  <% end %>
</div>
