<p>
  <% if flash[:alert].present? %>
    <el-alert title="<%= flash[:alert] %>" type="error" class="justify-center" />
  <% end %>
</p>
<repo-cards
  :task-tags="<%= @task_tags.to_json %>"
  :framework-tags="<%= @framework_tags.to_json %>"
  :language-tags="<%= @language_tags.to_json %>"
  :license-tags="<%= @license_tags.to_json %>"
  selected-tag="<%= params[:tag] %>"
  selected-tag-type="<%= params[:tag_type] %>"
  repo-type="model"
>
</repo-cards>
