<div class="bg-white border-b border-[#EBEEF5]">
  <model-detail
    local-model-id="<%= @local_model.id %>"
    :model="<%= @model %>"
    :files="<%= @files %>"
    :last-commit="<%= @last_commit %>"
    :branches="<%= @branches %>"
    :readme="<%= @readme %>"
  ></model-detail>
</div>
