<div class="bg-white">
  <model-detail
    :tag-list="<%= @tags_list.to_json %>"
    :tags="<%= @tags %>"
    local-repo-id="<%= @local_model&.id %>"
    :model="<%= @model %>"
    :branches="<%= @branches %>"
    current-branch="<%= @current_branch || 'main' %>"
    current-path="<%= @current_path || '' %>"
    default-tab="<%= @default_tab || 'summary' %>"
    :action-name="'<%= action_name %>'"
    :settings-visibility="<%= @settings_visibility %>"
    :owner-url="'<%= @owner_url %>'"
    avatar="<%= @avatar_url %>"
    :can-write="<%= !!(@local_model && current_user&.can_write?(@local_model)) %>"
    user-name="<%= current_user&.name %>"
    commit-id="<%= @commit_id %>"
    :admin="<%= current_user&.admin? %>"
  ></model-detail>
</div>
