<div class="bg-white">
  <repo-detail
    local-repo-id="<%= @local_model&.id %>"
    repo-type="model"
    current-branch="<%= @current_branch || 'main' %>"
    current-path="<%= @current_path || '' %>"
    default-tab="<%= @default_tab || 'summary' %>"
    :action-name="'<%= action_name %>'"
    user-name="<%= current_user&.name %>"
    commit-id="<%= @commit_id %>"
    :admin="<%= current_user&.admin? %>"
    namespace="<%= params[:namespace] %>"
    repo-name="<%= params[:model_name] %>"
  ></repo-detail>
</div>
