<% content_for :meta_title do %>
  <title><%= "#{default_meta_title}" %></title>
<% end %>

<% content_for :meta_desc do %>
  <meta name="description"
        content="<%= "#{default_meta_description}" %>"
  >
<% end %>

<div class="bg-white">
  <repo-detail
    :tag-list="<%= @tags_list.to_json %>"
    local-repo-id="<%= @local_model&.id %>"
    repo-type="model"
    current-branch="<%= @current_branch || 'main' %>"
    current-path="<%= @current_path || '' %>"
    default-tab="<%= @default_tab || 'summary' %>"
    :action-name="'<%= action_name %>'"
    :settings-visibility="<%= @settings_visibility %>"
    :owner-url="'<%= @owner_url %>'"
    avatar="<%= @avatar_url %>"
    :can-write="<%= !!(@local_model && current_user&.can_write?(@local_model)) %>"
    user-name="<%= current_user&.name %>"
    commit-id="<%= @commit_id %>"
    :admin="<%= current_user&.admin? %>"
    namespace="<%= params[:namespace] %>"
    repo-name="<%= params[:model_name] %>"
  ></repo-detail>
</div>
