<% content_for :meta_title do %>
  <title><%= "#{default_meta_title} #{name_for_meta_title(@model)}" %></title>
<% end %>

<% content_for :meta_desc do %>
  <meta name="description"
        content="<%= "#{default_meta_description} #{desc_for_meta_description(@model)}" %>"
  >
<% end %>

<div class="bg-white">
  <model-detail
    :tag-list="<%= @tags_list.to_json %>"
    :tags="<%= @tags %>"
    local-repo-id="<%= @local_model.id %>"
    :model="<%= @model %>"
    :last-commit="<%= @last_commit || {} %>"
    :branches="<%= @branches %>"
    current-branch="<%= @current_branch || 'main' %>"
    current-path="<%= @current_path || '' %>"
    default-tab="<%= @default_tab || 'summary' %>"
    :blob="<%= @blob || {} %>"
    :action-name="'<%= action_name %>'"
    :settings-visibility="<%= @settings_visibility %>"
    :owner-url="'<%= @owner_url %>'"
    avatar="<%= @avatar_url %>"
    :can-write="<%= !!current_user&.can_write?(@local_model) %>"
    user-name="<%= current_user&.name %>"
    commit-id="<%= @commit_id %>"
    :admin="<%= current_user&.admin? %>"
  ></model-detail>
</div>
