<div class="landing-page landing-page-index__div" data-controller='sticky-table'>
  <% if @landing_pages.blank? %>
    <div class="leads-index--no-content__div">
      <h2>
        所有 Landing Page
      </h2>
      <div class="leads-index--no-content__div-content-outer-div">
        <div class="leads-index--no-content__div-content-inner-div">
          <%= image_tag "collaberation.png", width: 88, height: 88 %>
          <p> 目前暂无 Landing Page 创建 </p>
        </div>
      </div>
    </div>
  <% else %>
    <div class="table__div">
      <table class="table" data-target="sticky-table.table" data-action="scroll->sticky-table#onScroll">
        <thead>
          <tr>
            <th> 内部标题 </th>
            <th> 标题 </th>
            <th> 状态 </th>
            <th class='table__sticky--right' data-sticky-table-target="rightColumn"></th>
          </tr>
        </thead>
        <tbody>
          <% @landing_pages.each do |landing_page| %>
            <tr onclick=<%= "window.location.href='/landing_pages/#{landing_page.id}'; return false" %>>
              <td><%= landing_page.internal_title %></td>
              <td><%= landing_page.title %></td>
              <td class="landing-page-text-status <%= landing_page.landing_page_status %>"><%= landing_page.landing_page_status %></td>
              <td onclick="event.stopPropagation();" class='table__sticky--right' data-sticky-table-target="rightColumn">
                <%= link_to '更新', edit_landing_page_path(landing_page), class: 'text-decoration-none' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @landing_pages %>
  <% end %>
</div>
