<div class="flex flex-col justify-center py-[24px] xl:px-[20px]">
  <%# banner %>
  <div class="flex justify-center items-center sm:flex-col w-full pl-[36px] pr-[20px] gap-x-[109px] bg-white max-w-[1280px] m-auto mb-[68px]">
    <div class="grow-[1.5]">
      <div class="text-[48px] lg:text-[36px] sm:text-[23px] sm:pt-[10px] text-[#303133] font-semibold mb-[18px]">成为 OpenCSG 合作伙伴</div>
      <div class="text-[18px] sm:text-[18px] font-normal leading-[26px]">连接与共建解决方案生态，携手合作伙伴，打造共创、共赢、共享的合作伙伴新生态。</div>
      <p class="my-[20px]">
        <a href="https://opencsg-china.feishu.cn/share/base/form/shrcn2n5Hs4lFqgl6tds2Sf6CIc" target="_blank">
          <el-button type="default">成为合作伙伴</el-button>
        </a>
      </p>
    </a>
    </div>
    <div class="grow flex justify-center">
      <img src="<%= asset_path('partners/partners_banner.png') %>" class="max-w-[298px]" />
    </div>
  </div>
  <%# cards %>
  <div class="grid grid-cols-4 xl:grid-cols-2 mlg:grid-cols-1 gap-[24px] justify-items-center mb-[60px] max-w-[1280px] m-auto">
    <% PARTNERS.each do |partner| %>
      <partner-card name="<%= partner["name"] %>"
                    site="<%= partner["site"] %>"
                    tags="<%= partner["tags"] %>"
                    desc="<%= partner["desc"] %>"
                    logo="<%= asset_path(partner["logo"]) %>">
      </partner-card>
    <% end %>
  </div>
</div>
