<div class="bg-white">
  <repo-detail
    :tag-list="<%= @tags_list.to_json %>"
    local-repo-id="<%= @local_dataset&.id %>"
    repo-type="dataset"
    current-branch="<%= @current_branch || 'main' %>"
    current-path="<%= @current_path || '' %>"
    default-tab="<%= @default_tab || 'summary' %>"
    :action-name="'<%= action_name %>'"
    :settings-visibility="<%= @settings_visibility %>"
    :can-write="<%= !!(@local_dataset && current_user&.can_write?(@local_dataset)) %>"
    user-name="<%= current_user&.name %>"
    commit-id="<%= @commit_id %>"
    namespace="<%= params[:namespace] %>"
    repo-name="<%= params[:dataset_name] %>"
  >
  </repo-detail>
</div>
