<div class="bg-white border-b border-[#EBEEF5]">
  <dataset-detail
    local-dataset-id="<%= @local_dataset.id %>"
    :dataset="<%= @dataset %>"
    :files="<%= @files %>"
    :last-commit="<%= @last_commit %>"
    :branches="<%= @branches %>"
  >
  </dataset-detail>
</div>
