<div class="bg-white border-b border-[#EBEEF5]">
  <dataset-detail
    :tags="<%= @tags %>"
    local-dataset-id="<%= @local_dataset.id %>"
    user-id="<%= current_user.id %>"
    :dataset="<%= @dataset %>"
    :files="<%= @files|| {} %>"
    :last-commit="<%= @last_commit %>"
    :branches="<%= @branches %>"
    current-branch="<%= @current_branch || 'main' %>"
    current-path="<%= @current_path || '' %>"
    default-tab="<%= @default_tab || 'summary' %>"
    :readme="<%= @readme %>"
    :content="<%= @content || {} %>"
    :action-name="'<%= action_name %>'"
    :settings-visibility="<%= @settings_visibility %>"
    avatar="<%= @avatar_url %>"
  >
  </dataset-detail>
</div>
