<div class="bg-white">
  <dataset-detail
    :tag-list="<%= @tags_list.to_json %>"
    :tags="<%= @tags %>"
    local-repo-id="<%= @local_dataset.id %>"
    :dataset="<%= @dataset %>"
    :last-commit="<%= @last_commit || {} %>"
    :branches="<%= @branches %>"
    current-branch="<%= @current_branch || 'main' %>"
    current-path="<%= @current_path || '' %>"
    default-tab="<%= @default_tab || 'summary' %>"
    :blob="<%= @blob || {} %>"
    :action-name="'<%= action_name %>'"
    :settings-visibility="<%= @settings_visibility %>"
    :owner-url="'<%= @owner_url %>'"
    avatar="<%= @avatar_url %>"
    :can-write="<%= !!current_user&.can_write?(@local_dataset) %>"
    user-name="<%= current_user&.name %>"
    user-token="<%= current_user&.git_token %>"
    commit-id="<%= @commit_id %>"
  >
  </dataset-detail>
</div>
