<div class="bg-white border-b border-[#EBEEF5]">
  <dataset-detail
    :dataset="<%= @dataset %>"
    :files="<%= @files %>"
    :last-commit="<%= @last_commit %>"
    :branches="<%= @branches %>"
    :readme="<%= @readme %>"
  >
  </dataset-detail>
</div>
