<div class="bg-white border-b border-[#EBEEF5]">
  <dataset-detail
    :dataset="<%= @dataset %>"
    :files="<%= @files %>"
    :last-commit="<%= @last_commit %>"
    :branches="<%= @branches %>"
    current-branch="<%= @current_branch || 'main' %>"
    current-path="<%= @current_path || '' %>"
    default-tab="<%= @default_tab || 'summary' %>"
  >
  </dataset-detail>
</div>
