<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% 
begin
  data = JSON.parse(Starhub.api.get_repo_mirror("models", 
                                                  page.resource.owner.name, 
                                                  page.resource.name, 
                                                  { current_user: page.resource.creator.name }))['data']
rescue
  data = nil
end
%>

<% content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) } %>

<header class="main-content__header">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <% debugger %>

    <% if data && page.resource.respond_to?(:origin) && !page.resource.origin.nil? %>
      <%= link_to(
        t("administrate.actions.sync_resource", name: page.page_title),
        "/admin/models/#{page.resource.id}/sync",
        class: "button") %>
    <% end %>

    <%= link_to(
      t("administrate.actions.edit_resource", name: page.page_title),
      [:edit, namespace, page.resource],
      class: "button",
    ) if accessible_action?(page.resource, :edit) %>

    <%= link_to(
      t("administrate.actions.destroy"),
      [namespace, page.resource],
      class: "button button--danger",
      method: :delete,
      data: { confirm: t("administrate.actions.confirm") }
    ) if accessible_action?(page.resource, :destroy) %>
  </div>
</header>

<section class="main-content__body">
  <dl>
    <% page.attributes.each do |attribute| %>
      <dt class="attribute-label" id="<%= attribute.name %>">
      <%= t(
        "helpers.label.#{resource_name}.#{attribute.name}",
        default: page.resource.class.human_attribute_name(attribute.name),
      ) %>
      </dt>

      <dd class="attribute-data attribute-data--<%=attribute.html_class%>"
          ><%= render_field attribute, page: page %></dd>
    <% end %>

    <% if data %>
      <dt class="attribute-label">
        last updated at
      </dt>
      <dd class="attribute-data attribute-data--string">
        <%= DateTime.parse(data["last_updated_at"]).strftime("%Y-%m-%d %H:%M:%S %z") %>
      </dd>

      <dt class="attribute-label">
        last message
      </dt>
      <dd class="attribute-data attribute-data--string">
        <%= data["last_message"] %>
      </dd>
    <% end %>
  </dl>
</section>
