<div class="max-w-[1280px] m-auto">
  <space-intro star-chain-address="<%= starchain_address %>"></space-intro>
  <% if Space.count == 0 %>
    <div class="flex flex-col">
      <p>您还没有属于自己的应用，点击下面的链接去 StarChain 构建您的第一个应用吧!！</p>
      <div>
        <p class="mt-5">
          <button onclick="window.open('<%= starchain_address %>', '_blank')" class="flex items-center justify-center group relative h-12 w-48 overflow-hidden rounded-2xl bg-[#1a8b7b] text-lg font-bold text-white">
            StarChain
            <el-icon class="mx-2">
              <arrow-right />
            </el-icon>
            <div class="absolute inset-0 h-full w-full scale-0 rounded-2xl transition-all duration-300 group-hover:scale-100 group-hover:bg-white/30"></div>
          </button>
        </p>
      </div>
    </div>
  <% else %>
    <div>
      <div class="flex justify-between">
        <h3 class="pl-4 font-semibold text-xl">Space 列表</h3>
        <el-dropdown>
          <el-button type="default">
            <span>全部应用</span>
            <el-icon class="el-icon--right"><arrow-down /></el-icon>
          </el-button>
          <template #dropdown>
            <el-dropdown-menu>
              <el-dropdown-item>我的应用</el-dropdown-item>
            </el-dropdown-menu>
          </template>
        </el-dropdown>
      </div>
      <div class="flex justify-between sm:flex-wrap sm:justify-center">
        <% Space.all.each do |space| %>
          <space-card title='<%= space.title %>'
                      desc='<%= space.desc %>'
                      author='<%= space.author %>'
                      created-at='<%= space.created_at.strftime('%Y-%m-%d %H:%M:%S') %>'
                      cover-image='<%= space.cover_image_url || asset_path('default_cover_image.png') %>'
                      tags='<%= space.tags.to_json %>'
                      status='<%= space.status %>'
                      >
          </space-card>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
