<div class="bg-white <%= class_name %> sticky top-0 z-[999]">
  <% if logged_in? %>
    <Navbar logo="<%= asset_path('opencsg_logo.png') %>"
            avatar="<%= current_user.avatar_url %>"
            star-chain-url="<%= starchain_address %>"
            is-company-user="<%= current_user.company_user? %>"
            company-verified="<%= current_user.company_verified %>"
            phone="<%= current_user.phone %>"
            user-name="<%= current_user.name %>"
            user-id="<%= current_user.login_identity %>"
            :can-create-daily-paper="<%= policy(DailyPaper).create? %>"
            starcloud-url="<%= starcloud_url %>"
            is-logged-in="true"
    />
  <% else %>
    <Navbar logo="<%= asset_path('opencsg_logo.png') %>"
            star-chain-url="<%= starchain_address %>"
            is-logged-in="false"
    />
  <% end %>
</div>
