<div class="bg-white <%= class_name %>">
  <% if logged_in? %>
    <Navbar logo="<%= asset_path('opencsg_logo.png') %>"
            star-chain-url=""
            is-company-user="<%= current_user.company_user? %>"
            company-verified="<%= current_user.company_verified %>"
            phone="<%= current_user.phone %>"
            user-name="<%= current_user.name %>"
            is-logged-in="true"
            docs-url=""
    />
  <% else %>
    <Navbar logo="<%= asset_path('opencsg_logo.png') %>"
            star-chain-url=""
            is-logged-in="false"
            docs-url=""
    />
  <% end %>
</div>
