<div class="bg-white">
  <Navbar logout="<%= logout_address %>"
          logo="<%= asset_path('opencsg_logo.png') %>"
          avatar="<%= current_user.avatar %>"
          star-chain-url="<%= starchain_address %>"
          is-company-user=<%= current_user.company_user? %>
          company-verified=<%= current_user.company_verified %>
 />
</div>
