<body class="h-full bg-[#F2F3F5]">
<div id="app" class="min-h-full flex flex-col">
  <div class="grow">
    <%= render partial: 'partials/navbar' %>
    <%= yield %>
  </div>
  <%= render partial: 'partials/foot' %>

  <div class="fixed bottom-[100px] right-[20px] w-[204px]">
    <el-popover
      placement="top-start"
      :width="204"
      trigger="hover"
    >
      <h3 class="text-center">扫码联系我们</h3>
      <%= image_tag('qiye_wechat.png', width: '180', height: '180') %>
      <template #reference>
        <%= image_tag('monster.gif', width: '120') %>
      </template>
    </el-popover>
  </div>

</div>
</body>