<div class="bg-white">
  <endpoint-detail
    current-path="<%= @current_path || '' %>"
    default-tab="<%= @default_tab || 'summary' %>"
    action-name="<%= action_name %>"
    owner-url="<%= @owner_url %>"
    avatar="<%= @avatar_url %>"
    namespace="<%= params[:namespace] %>"
    model-name="<%= params[:model_name] %>"
    :endpoint-id="<%= params[:endpoint_id] %>"
  ></endpoint-detail>
</div>