<div class="flex justify-center md:flex-col px-4 py-[36px]  my-[24px] rounded-[8px] lg:px-[106px] md:px-[50px] sm:px-[20px] max-w-[1280px] m-auto bg-white">
  <div class="w-[411px] md:mb-[24px]">
    <edit-info name="<%= current_user.name %>"
               avatar="<%= current_user.avatar %>"
    ></edit-info>
  </div>
  <div class="grow py-[24px]">
    <profile-settings name="<%= current_user.name %>"
                      avatar="<%= current_user.avatar %>"
                      phone="<%= current_user.phone %>"
                      email="<%= current_user.email %>"
                      user-name=<%= current_user.comment_display_name%>
    >
    </profile-settings>
  </div>
</div>

