<div class="bg-white">
  <repo-detail
    local-repo-id="<%= @local_code&.id %>"
    repo-type="code"
    current-branch="<%= @current_branch || 'main' %>"
    current-path="<%= @current_path || '' %>"
    default-tab="<%= @default_tab || 'summary' %>"
    :action-name="'<%= action_name %>'"
    :owner-url="'<%= @owner_url %>'"
    avatar="<%= @avatar_url %>"
    user-name="<%= current_user&.name %>"
    commit-id="<%= @commit_id %>"
    namespace="<%= params[:namespace] %>"
    repo-name="<%= params[:code_name] %>"
  ></repo-detail>
</div>
