<title>403 - 暂无权限</title>
<p>
  <% if flash[:alert].present? %>
    <el-alert title="<%= flash[:alert] %>" type="error" class="justify-center" />
  <% end %>
</p>

<div class="h-[calc(100vh-80px)] min-h-[500px] flex items-center justify-center m-auto">
  <div class="flex flex-col items-center" style="position: relative; display: flex; flex-direction: column; justify-content: center; text-align: center; padding: 40px;">
      
  <div class="flex flex-col gap-[8px] items-center text-center mt-[24px] px-[16px]">
    <%= image_tag '/images/Background-pattern-decorative.svg', class: 'absolute w-auto h-auto min-w-full min-h-full object-cover', style: 'z-index: -1; left: 50%; top: 50%; transform: translate(-50%, -50%);' %>
      
    <div class="Badge h-7 px-2.5 py-1 bg-white rounded-lg shadow border border-[#cfd4dc] justify-start items-center gap-1.5 inline-flex">
      <div class="Dot w-2 h-2 relative">
        <div class="Dot w-1.5 h-1.5 left-[1px] top-[1px] absolute bg-[#f78f08] rounded-full"></div>
        </div>
          <div class="Text text-center text-[#344053] text-sm font-normal font-['PingFang SC'] leading-tight">error</div>
      </div>

        <h1 id="error-header" class="error-header" style="font-size: 60px; font-weight: 500;margin-bottom: 24px; color: #101828;"> <%= t('errors_page.unauthorized.title') %> </h1>
      
        <p id="error-description" class="error-description" style="font-size: 20px; margin-bottom: 48px; color: #475467;"> <%= t('errors_page.unauthorized.desc') %> </p>
        <div id="error-button" class="error-button" style="display: flex; gap: 20px;">
          <a href="javascript:history.back();" class="btn btn-secondary" style="background-color: #fff; padding: 16px 24px; font-weight: 500; color: #344054; border: 1px solid #D0D5DD;" onmouseover="this.style.backgroundColor='#F9FAFB'; this.style.color='#344054';" onmouseout="this.style.backgroundColor='#fff'; this.style.color='#344054';"> <%= t('errors_page.not_found.back') %> </a>
          <a href="/" class="btn btn-primary" style="background-color: #3250BD; font-weight: 500; color: #fff; padding: 16px 24px;" onmouseover="this.style.backgroundColor='#223B99'; this.style.color='white';" onmouseout="this.style.backgroundColor='#3250BD'; this.style.color='#fff';"> <%= t('errors_page.not_found.home') %> </a>
        </div>
      </div>
    </div>
  </div>

  <%= javascript_tag do %>
    function adjustFontSize() {
      const errorHeader = document.querySelector('h1');
      const errorDescription = document.querySelector('p');
      const buttons = document.querySelectorAll('.btn');
  
      if (window.innerWidth < 768) {
        errorHeader.classList.replace('text-6xl', 'text-4xl');
        errorHeader.classList.replace('mb-6', 'mb-2');
        errorDescription.classList.replace('text-xl', 'text-base');
        errorDescription.classList.replace('mb-12', 'mb-6');
        buttons.forEach(button => {
          button.classList.replace('px-6', 'px-4');
          button.classList.replace('py-4', 'py-2');
        });
      } else {
        errorHeader.classList.replace('text-4xl', 'text-6xl');
        errorHeader.classList.replace('mb-2', 'mb-6');
        errorDescription.classList.replace('text-base', 'text-xl');
        errorDescription.classList.replace('mb-6', 'mb-12');
        buttons.forEach(button => {
          button.classList.replace('px-4', 'px-6');
          button.classList.replace('py-2', 'py-4');
        });
      }
    }
  
    // 初始检查
    adjustFontSize();
  
    // 窗口大小改变时调整
    window.addEventListener('resize', adjustFontSize);
  <% end %>