  <%# banner %>
<div class="flex flex-col justify-center py-[100px] sm:pb-[50px] lg:px-[106px] sm:px-[20px] md:px-[50px] px-[80px] bg-white h-screen sm:h-auto mt-[-47.63px]">
  <div class="flex justify-center items-center sm:flex-col sm:gap-[30px] gap-[80px] sm:w-full max-w-[1280px] m-auto ">
    <div class="grow">
      <div class="text-[48px] sm:text-[23px] text-[#303133] font-semibold mb-[24px]">让大模型赋能每一个人</div>
      <div class="max-w-[415px] text-[#606266] text-[20px] sm:text-[18px] mb-[24px]">我们的愿景是大众化大模型，让每个赛道，每个行业，每个公司，每个人拥有经济且实用的大模型， 并具备可访问性、定制性和垂直行业特性。让大模型驱动全民，从而推动技术加速创新。</div>
      <% if !logged_in? %>
        <div class="flex  sm:flex-col gap-[8px] items-center">
          <a href="/login" class="hover:bg-[white] hover:text-[black] hover:border-2 hover:border-black rounded-[40px] cursor-pointer text-center text-[20px] font-semibold bg-black text-white w-[200px] py-[11px] border-2">加入社区</a>
          <a href="https://www.opencsg.com" class="block hover:bg-[black] hover:text-[white] rounded-[40px] cursor-pointer text-center text-[20px] font-semibold bg-white text-black w-[200px] py-[11px] border-2 border-black">了解更多</a>
        </div>
      <% else %>
        <a href="https://www.opencsg.com" class="block hover:bg-[black] hover:text-[white] rounded-[40px] cursor-pointer text-center text-[20px] font-semibold bg-white text-black w-[200px] py-[11px] border-2 border-black">了解更多</a>
      <% end %>
    </div>
  <%# 图片600*600 %>
    <div class="grow sm:grow-0 flex justify-center mr-[-80px] sm:mr-0">
      <img src="<%= asset_path('landing_banner.png') %>" alt="" class="w-full max-h-[605px]" />
    </div>
  </div>
</div>
<div class="flex flex-col justify-center lg:px-[106px] md:px-[50px] sm:px-[20px] py-[24px] px-[80px]">
  <%# Models Spaces Datesets %>
  <div class="max-w-[1280px] m-auto">
    <%# Models Spaces Datesets Text %>
    <div class="text-center mb-[88px] sm:mb-[44px]">
      <div class="text-[48px] text-[#303133] font-semibold mb-[24px] pt-[100px] sm:pt-[50px]">最新趋势</div>
      <div class="text-[#606266] text-[20px] mb-[24px]"> 探索 OpenCSG 用户喜欢什么 </div>
    </div>
    <%# SpaceCards %>
    <% if @latest_spaces.count != 0 %>
      <div class="mt-[24px]">
        <div class="flex mb-[16px]">
          <div class="w-[23px] mr-[7px]">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
              <g opacity="0.12">
                <path d="M2.5 5.2C2.5 4.0799 2.5 3.51984 2.71799 3.09202C2.90973 2.71569 3.21569 2.40973 3.59202 2.21799C4.01984 2 4.5799 2 5.7 2H7.3C8.4201 2 8.98016 2 9.40798 2.21799C9.78431 2.40973 10.0903 2.71569 10.282 3.09202C10.5 3.51984 10.5 4.0799 10.5 5.2V6.8C10.5 7.9201 10.5 8.48016 10.282 8.90798C10.0903 9.28431 9.78431 9.59027 9.40798 9.78201C8.98016 10 8.4201 10 7.3 10H5.7C4.5799 10 4.01984 10 3.59202 9.78201C3.21569 9.59027 2.90973 9.28431 2.71799 8.90798C2.5 8.48016 2.5 7.9201 2.5 6.8V5.2Z" fill="#7B58CF"/>
                <path d="M2.5 17.2C2.5 16.0799 2.5 15.5198 2.71799 15.092C2.90973 14.7157 3.21569 14.4097 3.59202 14.218C4.01984 14 4.5799 14 5.7 14H7.3C8.4201 14 8.98016 14 9.40798 14.218C9.78431 14.4097 10.0903 14.7157 10.282 15.092C10.5 15.5198 10.5 16.0799 10.5 17.2V18.8C10.5 19.9201 10.5 20.4802 10.282 20.908C10.0903 21.2843 9.78431 21.5903 9.40798 21.782C8.98016 22 8.4201 22 7.3 22H5.7C4.5799 22 4.01984 22 3.59202 21.782C3.21569 21.5903 2.90973 21.2843 2.71799 20.908C2.5 20.4802 2.5 19.9201 2.5 18.8V17.2Z" fill="#7B58CF"/>
                <path d="M14.5 17.2C14.5 16.0799 14.5 15.5198 14.718 15.092C14.9097 14.7157 15.2157 14.4097 15.592 14.218C16.0198 14 16.5799 14 17.7 14H19.3C20.4201 14 20.9802 14 21.408 14.218C21.7843 14.4097 22.0903 14.7157 22.282 15.092C22.5 15.5198 22.5 16.0799 22.5 17.2V18.8C22.5 19.9201 22.5 20.4802 22.282 20.908C22.0903 21.2843 21.7843 21.5903 21.408 21.782C20.9802 22 20.4201 22 19.3 22H17.7C16.5799 22 16.0198 22 15.592 21.782C15.2157 21.5903 14.9097 21.2843 14.718 20.908C14.5 20.4802 14.5 19.9201 14.5 18.8V17.2Z" fill="#7B58CF"/>
              </g>
              <path d="M2.5 5.2C2.5 4.07989 2.5 3.51984 2.71799 3.09202C2.90973 2.71569 3.21569 2.40973 3.59202 2.21799C4.01984 2 4.57989 2 5.7 2H7.3C8.42011 2 8.98016 2 9.40798 2.21799C9.78431 2.40973 10.0903 2.71569 10.282 3.09202C10.5 3.51984 10.5 4.07989 10.5 5.2V6.8C10.5 7.92011 10.5 8.48016 10.282 8.90798C10.0903 9.28431 9.78431 9.59027 9.40798 9.78201C8.98016 10 8.42011 10 7.3 10H5.7C4.57989 10 4.01984 10 3.59202 9.78201C3.21569 9.59027 2.90973 9.28431 2.71799 8.90798C2.5 8.48016 2.5 7.92011 2.5 6.8V5.2Z" stroke="#7B58CF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M14.5 5.2C14.5 4.07989 14.5 3.51984 14.718 3.09202C14.9097 2.71569 15.2157 2.40973 15.592 2.21799C16.0198 2 16.5799 2 17.7 2H19.3C20.4201 2 20.9802 2 21.408 2.21799C21.7843 2.40973 22.0903 2.71569 22.282 3.09202C22.5 3.51984 22.5 4.07989 22.5 5.2V6.8C22.5 7.92011 22.5 8.48016 22.282 8.90798C22.0903 9.28431 21.7843 9.59027 21.408 9.78201C20.9802 10 20.4201 10 19.3 10H17.7C16.5799 10 16.0198 10 15.592 9.78201C15.2157 9.59027 14.9097 9.28431 14.718 8.90798C14.5 8.48016 14.5 7.92011 14.5 6.8V5.2Z" stroke="#7B58CF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M2.5 17.2C2.5 16.0799 2.5 15.5198 2.71799 15.092C2.90973 14.7157 3.21569 14.4097 3.59202 14.218C4.01984 14 4.57989 14 5.7 14H7.3C8.42011 14 8.98016 14 9.40798 14.218C9.78431 14.4097 10.0903 14.7157 10.282 15.092C10.5 15.5198 10.5 16.0799 10.5 17.2V18.8C10.5 19.9201 10.5 20.4802 10.282 20.908C10.0903 21.2843 9.78431 21.5903 9.40798 21.782C8.98016 22 8.42011 22 7.3 22H5.7C4.57989 22 4.01984 22 3.59202 21.782C3.21569 21.5903 2.90973 21.2843 2.71799 20.908C2.5 20.4802 2.5 19.9201 2.5 18.8V17.2Z" stroke="#7B58CF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M14.5 17.2C14.5 16.0799 14.5 15.5198 14.718 15.092C14.9097 14.7157 15.2157 14.4097 15.592 14.218C16.0198 14 16.5799 14 17.7 14H19.3C20.4201 14 20.9802 14 21.408 14.218C21.7843 14.4097 22.0903 14.7157 22.282 15.092C22.5 15.5198 22.5 16.0799 22.5 17.2V18.8C22.5 19.9201 22.5 20.4802 22.282 20.908C22.0903 21.2843 21.7843 21.5903 21.408 21.782C20.9802 22 20.4201 22 19.3 22H17.7C16.5799 22 16.0198 22 15.592 21.782C15.2157 21.5903 14.9097 21.2843 14.718 20.908C14.5 20.4802 14.5 19.9201 14.5 18.8V17.2Z" stroke="#7B58CF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="text-[24px] font-medium leading-[23px] mr-[20px]">应用空间</div>
          <a href="/spaces" class="text-[14px] cursor-pointer text-[#757575] leading-[22px] underline">查看更多</a>
        </div>
        <div class="grid grid-cols-3 xl:grid-cols-2 mlg:grid-cols-1 gap-[25px] justify-items-center max-w-[1280px] m-auto">
          <% @latest_spaces.each do |space| %>
            <space-card title="<%= space.title %>"
                        desc="<%= space.desc %>"
                        author="<%= space.author %>"
                        created-at="<%= space.created_at %>"
                        cover-image="<%= space.cover_image_url || asset_path('default_cover_image.png') %>"
                        tags="<%= space.tags.to_json %>"
                        status="<%= space.status %>"
                        star-chain-id="<%= space.space_starchain_id %>"
                        space-type="<%= space.space_type %>"
                        author_uuid="<%= space.user.login_identity %>"
            >
            </space-card>
          <% end %>
        </div>
      </div>
    <% end %>
    <%# ModelsCards %>
    <div class="mt-[24px]">
      <div class="flex mb-[16px]">
        <div class="w-[23px] mr-[7px]">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
            <path opacity="0.12" d="M22.5 14.2815V7.28105C22.5 7.1062 22.4083 6.94418 22.2583 6.85422C22.0995 6.75893 21.9009 6.7597 21.7429 6.85621L15.0012 10.9722C14.0927 11.5269 13.6384 11.8042 13.1525 11.9125C12.7228 12.0082 12.2772 12.0082 11.8475 11.9125C11.3616 11.8042 10.9073 11.5269 9.99878 10.9722L3.25714 6.85621C3.09906 6.7597 2.90048 6.75893 2.74166 6.85422C2.59174 6.94418 2.5 7.1062 2.5 7.28105V14.2815C2.5 15.2725 2.5 15.768 2.64219 16.2133C2.76802 16.6073 2.97396 16.971 3.24708 17.2817C3.55572 17.6327 3.98062 17.8876 4.83042 18.3975L10.0304 21.5175C10.9283 22.0562 11.3773 22.3256 11.8565 22.4308C12.2805 22.5239 12.7195 22.5239 13.1435 22.4308C13.6227 22.3256 14.0717 22.0562 14.9696 21.5175L20.1696 18.3975C21.0194 17.8876 21.4443 17.6327 21.7529 17.2817C22.026 16.971 22.232 16.6073 22.3578 16.2133C22.5 15.768 22.5 15.2725 22.5 14.2815Z" fill="#AD4A3B"/>
            <path d="M12.5 12.5L21.5 7M12.5 12.5L3.5 7M12.5 12.5V22.5M2.5 9.71771V14.2823C2.5 15.2733 2.5 15.7688 2.64219 16.2141C2.76802 16.6081 2.97396 16.9718 3.24708 17.2824C3.55572 17.6334 3.98062 17.8884 4.83042 18.3983L10.0304 21.5183C10.9283 22.057 11.3773 22.3264 11.8565 22.4316C12.2805 22.5247 12.7195 22.5247 13.1435 22.4316C13.6227 22.3264 14.0717 22.057 14.9696 21.5183L20.1696 18.3983C21.0194 17.8884 21.4443 17.6334 21.7529 17.2824C22.026 16.9718 22.232 16.6081 22.3578 16.2141C22.5 15.7688 22.5 15.2733 22.5 14.2823V9.71771C22.5 8.72669 22.5 8.23117 22.3578 7.78593C22.232 7.39192 22.026 7.02818 21.7529 6.71757C21.4443 6.36657 21.0194 6.11163 20.1696 5.60175L14.9696 2.48175C14.0717 1.94301 13.6227 1.67364 13.1435 1.56839C12.7195 1.4753 12.2805 1.4753 11.8565 1.56839C11.3773 1.67364 10.9283 1.94301 10.0304 2.48175L4.83042 5.60175C3.98062 6.11163 3.55572 6.36657 3.24708 6.71757C2.97396 7.02818 2.76802 7.39192 2.64219 7.78593C2.5 8.23117 2.5 8.72669 2.5 9.71771Z" stroke="#AD4A3B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="text-[24px] font-medium leading-[23px] mr-[20px]">模型</div>
        <a href="/models" class="text-[14px] cursor-pointer text-[#757575] leading-[22px] underline">查看更多</a>
      </div>
      <div class="grid grid-cols-3 xl:grid-cols-2 mlg:grid-cols-1 gap-[25px] justify-items-center max-w-[1280px] m-auto">
        <% LANDING_PAGE['models'].each do |model| %>
          <model-card title="<%= model["title"] %>"
                      author="<%= model["author"] %>"
                      download_url="<%= model["download_url"] %>"
                      tags="<%= model["tags"] %>"
                      license="<%= model["license"] %>"
                      desc="<%= model["desc"] %>"
                      avatar="<%= asset_path( model["avatar"] ) %>">
          </model-card>
        <% end %>
      </div>
    </div>
    <%# DatasetCards %>
    <div class="mt-[24px]">
      <div class="flex mb-[16px]">
        <div class="w-[23px] mr-[7px]">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
            <path opacity="0.12" d="M12.5 22C17.4706 22 21.5 20.6569 21.5 19V5C21.5 5 21 8 12.5 8C4 8 3.5 5 3.5 5V19C3.5 20.6569 7.52944 22 12.5 22Z" fill="#1F75CB"/>
            <path d="M21.5 12C21.5 13.6569 17.4706 15 12.5 15C7.52944 15 3.5 13.6569 3.5 12M21.5 5C21.5 6.65685 17.4706 8 12.5 8C7.52944 8 3.5 6.65685 3.5 5M21.5 5C21.5 3.34315 17.4706 2 12.5 2C7.52944 2 3.5 3.34315 3.5 5M21.5 5V19C21.5 20.6569 17.4706 22 12.5 22C7.52944 22 3.5 20.6569 3.5 19V5" stroke="#1F75CB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="text-[24px] font-medium leading-[23px] mr-[20px]">数据集</div>
        <a href="/datasets" class="text-[14px] cursor-pointer text-[#757575] leading-[22px] underline">查看更多</a>
      </div>
      <div class="grid grid-cols-3 xl:grid-cols-2 mlg:grid-cols-1 gap-[25px] justify-items-center max-w-[1280px] m-auto">
        <% LANDING_PAGE['datasets'].each do |dataset| %>
          <dataset-card other="<%= dataset["other"] %>"
                        type="<%= dataset["type"] %>"
                        tags="<%= dataset["tags"] %>"
                        protocol="<%= dataset["protocol"] %>"
                        title="<%= dataset["title"] %>"
                        desc="<%= dataset["desc"] %>"
                        url="<%= dataset["url"] %>"
          >
          </dataset-card>
        <% end %>
      </div>
    </div>
  </div>
  <%# News %>
  <div class="max-w-[1280px] m-auto">
    <%# NewsText %>
    <div class="text-center mb-[88px] sm:mb-[44px]">
      <div class="text-[48px] text-[#303133] font-semibold mb-[24px] mt-[100px] sm:mt-[50px]">最新动态</div>
      <div class="text-[#606266] text-[20px] mb-[24px]">获取 OpenCSG 最新动态 </div>
    </div>
    <%# NewsCards %>
    <div class="grid grid-cols-3 xl:grid-cols-2 mlg:grid-cols-1 gap-[45px] justify-items-center max-w-[1280px] m-auto">
      <% @newsData.each do |card| %>
        <div class="bg-[#ECF5FF] flex flex-col justify-center items-center max-w-[380px] max-h-[478px] overflow-hidden">
          <img src="<%= asset_path(card[:url]) %>" alt="" class="w-full max-h-[200px] object-cover rounded-t-[8px]" />
          <a href="<%= asset_path(card[:href]) %>" class="w-full border border-[#DCDFE6] bg-white rounded-b-[8px] px-[18px]">
            <div class="h-[224px] overflow-cut">
              <p class="text-[20px] font-semibold pt-[16px] leading-[22px] ">
                <%= card[:title]  %>
              </p>
              <p class="text-[16px] text-[#909399] leading-[24px] ">
                <%= card[:time]  %>
              </p>
              <p class="pt-[16px] pb-[24px] text-center text-[16px] text-[#909399]">
                <%= card[:text]  %>
              </p>
            </div>
          </a>
        </div>
      <% end  %>
    </div>
  </div>
  <%# Experts %>
  <div class="max-w-[1280px] m-auto mt-[100px] sm:mt-[50px]">
    <%# ExpertsText %>
    <div class="text-center mb-[88px] sm:mb-[44px]">
      <div class="text-[48px] text-[#303133] font-semibold mb-[24px]">专家社区</div>
      <div class="text-[#606266] text-[20px] mb-[24px]">共建开源开放、共享开源生态<br/>为用户提供技术支持及咨询，解决方案设计指导等</div>
      <a href="/experts">
        <div class="hover:bg-[white] hover:text-[black] border-2 hover:border-black rounded-[40px] cursor-pointer text-center text-[20px] font-semibold bg-black text-white w-[200px] py-[11px] m-auto">了解更多 </div>
      </a>
    </div>
    <div class="grid grid-cols-3 mlg:grid-cols-1 gap-[24px] justify-items-center">
      <% LANDING_PAGE['experts'].each do |expert| %>
        <expert-card name="<%= expert["name"] %>"
                    type="<%= expert["type"] %>"
                    tags="<%= expert["tags"] %>"
                    title="<%= expert["title"] %>"
                    desc="<%= expert["desc"] %>"
                    avatar="<%= asset_path(expert["avatar"]) %>">
        </expert-card>
      <% end %>
    </div>
  </div>
  <%# Partners %>
  <div class="max-w-[1280px] m-auto mb-[100px] sm:mb-[50px] mt-[100px] sm:mt-[50px]">
    <%# PartnersText %>
    <div class="text-center mb-[88px]">
      <div class="text-[48px] text-[#303133] font-semibold mb-[24px]">OpenCSG 合作伙伴</div>
      <div class="text-[#606266] text-[20px] mb-[24px]">连接与共建解决方案生态，携手合作伙伴，打造共创、共赢、共享的合作伙伴新生态</div>
    </div>
    <%# PartnersCards %>
    <div class="mb-[10px]">
      <p class="text-center sm:w-full text-gray-500 font-light italic"> * 以下数据根据拼音首字母排序 * </p>
    </div>
    <div class="grid grid-cols-4 xl:grid-cols-3 lg:grid-cols-2 sm:grid-cols-1 gap-[24px] justify-items-center max-w-[1280px] m-auto">
      <% @partners.each do |partner| %>
        <div class="w-[278px] bg-white h-[80px] flex items-center justify-center rounded-[8px]">
        <img class="max-h-[48px]" src="<%= asset_path(partner["logo"]) %>" />
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'partials/little_group_monster' %>