  <%# banner %>
<div class="flex flex-col justify-center py-[100px] lg:px-[106px] md:px-[50px] py-[24px] px-[80px] bg-white h-screen mt-[-47.63px]">
  <div class="flex justify-center items-center sm:flex-col sm:w-full max-w-[1280px] m-auto ">
    <div class="grow">
      <div class="text-[48px] sm:text-[23px] text-[#303133] font-semibold mb-[24px]">让大模型赋能每一个人</div>
      <div class="max-w-[415px] text-[#606266] text-[20px] sm:text-[18px] mb-[24px]">我们的愿景是大众化大模型，让每个赛道，每个行业，每个公司，每个人拥有经济且实用的大模型， 并具备可访问性、定制性和垂直行业特性。让大模型驱动全民，从而推动技术加速创新。</div>
      <% if logged_in? == false %>
        <div class="flex  sm:flex-col gap-[8px] items-center">
          <a href="/login" class="hover:bg-[white] hover:text-[black] hover:border-2 hover:border-black rounded-[40px] cursor-pointer text-center text-[20px] font-semibold bg-black text-white w-[200px] py-[11px] border-2">加入我们</a>
          <a href="https://www.opencsg.com" class="block hover:bg-[black] hover:text-[white] rounded-[40px] cursor-pointer text-center text-[20px] font-semibold bg-white text-black w-[200px] py-[11px] border-2 border-black">了解更多</a>
        </div>
      <% else %>
        <div class="hover:bg-[black] hover:text-[white] rounded-[40px] cursor-pointer text-center text-[20px] font-semibold bg-white text-black w-[200px] py-[11px] border-2 border-black">Learn More</div>
      <% end %>
    </div>
  <%# 图片600*600 %>
    <div class="grow sm:grow-0 flex justify-center">
            <img src="<%= asset_path('landing_banner.png') %>" alt="" class="w-full max-h-[605px]" />
    </div>
  </div>
</div>
<div class="flex flex-col justify-center py-[100px] lg:px-[106px] md:px-[50px] py-[24px] px-[80px]">
  <%# Models Spaces Datesets %>
  <div class="max-w-[1280px] m-auto  mb-[60px]">
    <%# Models Spaces Datesets Text %>
    <div class="text-center mb-[88px]">
      <div class="text-[48px] text-[#303133] font-semibold mb-[24px] pt-[100px]">最新趋势</div>
      <div class="text-[#606266] text-[20px] mb-[24px]"> 探索 Opencsg 用户喜欢什么 </div>
    </div>
    <%# SpaceCards %>
    <% if @latest_spaces.count != 0 %>
      <div class="mt-[24px]">
        <div class="flex mb-[16px]">
          <div class="bg-[#D9D9D9] w-[23px] mr-[7px]"></div>
          <div class="text-[24px] font-medium leading-[23px] mr-[20px]">应用空间</div>
          <a href="/spaces" class="text-[14px] cursor-pointer text-[#757575] leading-[22px] underline">查看更多</a>
        </div>
        <div class="grid grid-cols-3 xl:grid-cols-2 mlg:grid-cols-1 gap-[25px] justify-items-center max-w-[1280px] m-auto">
          <% @latest_spaces.each do |space| %>
            <space-card title="<%= space.title %>"
                        desc="<%= space.desc %>"
                        author="<%= space.author %>"
                        created-at="<%= space.created_at %>"
                        cover-image="<%= space.cover_image_url || asset_path('default_cover_image.png') %>"
                        tags="<%= space.tags.to_json %>"
                        status="<%= space.status %>"
                        star-chain-id="<%= space.space_starchain_id %>"
                        space-type="<%= space.space_type %>"
                        author_uuid="<%= space.user.login_identity %>"
            >
            </space-card>
          <% end %>
        </div>
      </div>
    <% end %>
    <%# ModelsCards %>
    <div class="mt-[24px]">
      <div class="flex mb-[16px]">
        <div class="bg-[#D9D9D9] w-[23px] mr-[7px]"></div>
        <div class="text-[24px] font-medium leading-[23px] mr-[20px]">模型</div>
        <a href="/models" class="text-[14px] cursor-pointer text-[#757575] leading-[22px] underline">查看更多</a>
      </div>
      <div class="grid grid-cols-3 xl:grid-cols-2 mlg:grid-cols-1 gap-[25px] justify-items-center max-w-[1280px] m-auto">
        <% LANDING_PAGE['models'].each do |model| %>
          <model-card title="<%= model["title"] %>"
                      author="<%= model["author"] %>"
                      download_url="<%= model["download_url"] %>"
                      tags="<%= model["tags"] %>"
                      license="<%= model["license"] %>"
                      desc="<%= model["desc"] %>"
                      avatar="<%= asset_path('models/default_model_logo.png') %>">
          </model-card>
        <% end %>
      </div>
    </div>
    <%# DatasetCards %>
    <div class="mt-[24px]">
      <div class="flex mb-[16px]">
        <div class="bg-[#D9D9D9] w-[23px] mr-[7px]"></div>
        <div class="text-[24px] font-medium leading-[23px] mr-[20px]">数据集</div>
        <a href="/datasets" class="text-[14px] cursor-pointer text-[#757575] leading-[22px] underline">查看更多</a>
      </div>
      <div class="grid grid-cols-3 xl:grid-cols-2 mlg:grid-cols-1 gap-[25px] justify-items-center max-w-[1280px] m-auto">
        <% LANDING_PAGE['datasets'].each do |dataset| %>
          <dataset-card other="<%= dataset["other"] %>"
                        type="<%= dataset["type"] %>"
                        tags="<%= dataset["tags"] %>"
                        protocol="<%= dataset["protocol"] %>"
                        title="<%= dataset["title"] %>"
                        desc="<%= dataset["desc"] %>"
                        url="<%= dataset["url"] %>"
          >
          </dataset-card>
        <% end %>
      </div>
    </div>
  </div>
  <%# News %>
  <div class="max-w-[1280px] m-auto">
    <%# NewsText %>
    <div class="text-center">
      <div class="text-[48px] text-[#303133] font-semibold mb-[24px]">最新动态</div>
      <div class="text-[#606266] text-[20px] mb-[24px]">获取OpenCSG最新动态 </div>
      <div class="hover:bg-[white] hover:text-[black] border-2 hover:border-black rounded-[40px] cursor-pointer text-center text-[20px] font-semibold bg-black text-white w-[200px] py-[11px] m-auto">Join Us For Free</div>
    </div>
    <%# NewsCards %>
    <div class="grid grid-cols-3 mlg:grid-cols-1 gap-[25px] justify-items-center mb-[60px] max-w-[1280px] m-auto pt-[80px]">
      <% @newsData.each do |card| %>
        <div class="w-full border border-[#DCDFE6] bg-white rounded-[8px] px-[18px]">
          <div class="bg-[#ECF5FF] h-[224px] flex justify-center items-center">
            <img src="<%= asset_path(card[:url]) %>" alt="" class="w-full max-h-[224px]" />
          </div>
          <div class="text-[20px] font-semibold pt-[16px] leading-[22px] ">
            <%= card[:title]  %>
          </div>
           <div class="text-[16px] text-[#909399] leading-[24px] ">
            <%= card[:time]  %>
          </div>
          <div class="pt-[16px] pb-[24px] text-center text-[20px]">
            <%= card[:text]  %>
          </div>
        </div>
      <% end  %>
    </div>
  </div>
  <%# Experts %>
  <div class="max-w-[1280px] m-auto mb-[60px]">
    <%# ExpertsText %>
    <div class="text-center">
      <div class="text-[48px] text-[#303133] font-semibold mb-[24px]">专家</div>
      <div class="text-[#606266] text-[20px] mb-[24px]">在 OpenCSG，我们为您提供寻找合作伙伴的服务，以帮助您完成下一个项目。您可以根据您的需求浏览专家，并开始对话。</div>
      <div class="hover:bg-[white] hover:text-[black] border-2 hover:border-black rounded-[40px] cursor-pointer text-center text-[20px] font-semibold bg-black text-white w-[200px] py-[11px] m-auto">Explore More </div>
    </div>
    <div class="grid grid-cols-3 mlg:grid-cols-1 gap-[24px] justify-items-center pt-[60px]">
      <% LANDING_PAGE['experts'].each do |expert| %>
        <expert-card name="<%= expert["name"] %>"
                    type="<%= expert["type"] %>"
                    tags="<%= expert["tags"] %>"
                    title="<%= expert["title"] %>"
                    desc="<%= expert["desc"] %>"
                    avatar="<%= asset_path(expert["avatar"]) %>">
        </expert-card>
      <% end %>
    </div>
  </div>
  <%# Partners %>
  <div class="max-w-[1280px] m-auto mb-[60px]">
    <%# PartnersText %>
    <div class="text-center mb-[60px]">
      <div class="text-[48px] text-[#303133] font-semibold mb-[24px]">OpenCSG 合作伙伴</div>
      <div class="text-[#606266] text-[20px] mb-[24px]">OpenCSG 是一个协作生态系统，它连接合作伙伴并赋予他们能力，为各个行业的客户构建大规模模型。</div>
    </div>
    <%# PartnersCards %>
    <div class="grid grid-cols-4 xl:grid-cols-2 mlg:grid-cols-1 gap-[24px] justify-items-center max-w-[1280px] m-auto">
    <% PARTNERS.each do |partner| %>
      <div class="w-[278px] bg-white h-[80px] flex items-center justify-center">
       <img class="max-h-[48px] " src="<%= asset_path(partner["logo"]) %>" />
      </div>
    <% end %>
    </div>
  </div>
</div>