  <%# banner %>
<div class="flex flex-col justify-center py-[100px] sm:pb-[50px] lg:px-[106px] sm:px-[20px] md:px-[50px] px-[80px] bg-white h-screen sm:h-auto mt-[-47.63px]">
  <div class="flex justify-center items-center sm:flex-col sm:gap-[30px] gap-[45px] sm:w-full max-w-[1280px] m-auto ">
    <div class="grow">
      <div class="text-[48px] sm:text-[23px] text-[#303133] font-semibold mb-[24px]">让大模型赋能每一个人</div>
      <div class="max-w-[415px] text-[#606266] text-[20px] sm:text-[18px] mb-[24px]">我们的愿景是大众化大模型，让每个赛道，每个行业，每个公司，每个人拥有经济且实用的大模型， 并具备可访问性、定制性和垂直行业特性。让大模型驱动全民，从而推动技术加速创新。</div>
      <% if !logged_in? %>
        <div class="flex  sm:flex-col gap-[8px] items-center">
          <a href="/login" class="hover:bg-[white] hover:text-[black] hover:border-2 hover:border-black rounded-[40px] cursor-pointer text-center text-[20px] font-semibold bg-black text-white w-[200px] py-[11px] border-2">加入社区</a>
          <a href="https://www.opencsg.com" class="block hover:bg-[black] hover:text-[white] rounded-[40px] cursor-pointer text-center text-[20px] font-semibold bg-white text-black w-[200px] py-[11px] border-2 border-black">了解更多</a>
        </div>
      <% else %>
        <a href="https://www.opencsg.com" class="block hover:bg-[black] hover:text-[white] rounded-[40px] cursor-pointer text-center text-[20px] font-semibold bg-white text-black w-[200px] py-[11px] border-2 border-black">了解更多</a>
      <% end %>
    </div>
  <%# 图片600*600 %>
    <div class="grow sm:grow-0 flex justify-center">
            <img src="<%= asset_path('landing_banner.png') %>" alt="" class="w-full max-h-[605px]" />
    </div>
  </div>
</div>
<div class="flex flex-col justify-center lg:px-[106px] md:px-[50px] sm:px-[20px] py-[24px] px-[80px]">
  <%# Models Spaces Datesets %>
  <div class="max-w-[1280px] m-auto">
    <%# Models Spaces Datesets Text %>
    <div class="text-center mb-[88px] sm:mb-[44px]">
      <div class="text-[48px] text-[#303133] font-semibold mb-[24px] pt-[100px] sm:pt-[50px]">最新趋势</div>
      <div class="text-[#606266] text-[20px] mb-[24px]"> 探索 Opencsg 用户喜欢什么 </div>
    </div>
    <%# SpaceCards %>
    <% if @latest_spaces.count != 0 %>
      <div class="mt-[24px]">
        <div class="flex mb-[16px]">
          <div class="bg-[#D9D9D9] w-[23px] mr-[7px]"></div>
          <div class="text-[24px] font-medium leading-[23px] mr-[20px]">应用空间</div>
          <a href="/spaces" class="text-[14px] cursor-pointer text-[#757575] leading-[22px] underline">查看更多</a>
        </div>
        <div class="grid grid-cols-3 xl:grid-cols-2 mlg:grid-cols-1 gap-[25px] justify-items-center max-w-[1280px] m-auto">
          <% @latest_spaces.each do |space| %>
            <space-card title="<%= space.title %>"
                        desc="<%= space.desc %>"
                        author="<%= space.author %>"
                        created-at="<%= space.created_at %>"
                        cover-image="<%= space.cover_image_url || asset_path('default_cover_image.png') %>"
                        tags="<%= space.tags.to_json %>"
                        status="<%= space.status %>"
                        star-chain-id="<%= space.space_starchain_id %>"
                        space-type="<%= space.space_type %>"
                        author_uuid="<%= space.user.login_identity %>"
            >
            </space-card>
          <% end %>
        </div>
      </div>
    <% end %>
    <%# ModelsCards %>
    <div class="mt-[24px]">
      <div class="flex mb-[16px]">
        <div class="bg-[#D9D9D9] w-[23px] mr-[7px]"></div>
        <div class="text-[24px] font-medium leading-[23px] mr-[20px]">模型</div>
        <a href="/models" class="text-[14px] cursor-pointer text-[#757575] leading-[22px] underline">查看更多</a>
      </div>
      <div class="grid grid-cols-3 xl:grid-cols-2 mlg:grid-cols-1 gap-[25px] justify-items-center max-w-[1280px] m-auto">
        <% LANDING_PAGE['models'].each do |model| %>
          <model-card title="<%= model["title"] %>"
                      author="<%= model["author"] %>"
                      download_url="<%= model["download_url"] %>"
                      tags="<%= model["tags"] %>"
                      license="<%= model["license"] %>"
                      desc="<%= model["desc"] %>"
                      avatar="<%= asset_path( model["avatar"] ) %>">
          </model-card>
        <% end %>
      </div>
    </div>
    <%# DatasetCards %>
    <div class="mt-[24px]">
      <div class="flex mb-[16px]">
        <div class="bg-[#D9D9D9] w-[23px] mr-[7px]"></div>
        <div class="text-[24px] font-medium leading-[23px] mr-[20px]">数据集</div>
        <a href="/datasets" class="text-[14px] cursor-pointer text-[#757575] leading-[22px] underline">查看更多</a>
      </div>
      <div class="grid grid-cols-3 xl:grid-cols-2 mlg:grid-cols-1 gap-[25px] justify-items-center max-w-[1280px] m-auto">
        <% LANDING_PAGE['datasets'].each do |dataset| %>
          <dataset-card other="<%= dataset["other"] %>"
                        type="<%= dataset["type"] %>"
                        tags="<%= dataset["tags"] %>"
                        protocol="<%= dataset["protocol"] %>"
                        title="<%= dataset["title"] %>"
                        desc="<%= dataset["desc"] %>"
                        url="<%= dataset["url"] %>"
          >
          </dataset-card>
        <% end %>
      </div>
    </div>
  </div>
  <%# News %>
  <div class="max-w-[1280px] m-auto">
    <%# NewsText %>
    <div class="text-center mb-[88px] sm:mb-[44px]">
      <div class="text-[48px] text-[#303133] font-semibold mb-[24px] mt-[100px] sm:mt-[50px]">最新动态</div>
      <div class="text-[#606266] text-[20px] mb-[24px]">获取 OpenCSG 最新动态 </div>
    </div>
    <%# NewsCards %>
    <div class="grid grid-cols-3 xl:grid-cols-2 mlg:grid-cols-1 gap-[45px] justify-items-center max-w-[1280px] m-auto">
      <% @newsData.each do |card| %>
        <div class="bg-[#ECF5FF] flex flex-col justify-center items-center max-w-[380px] max-h-[478px] overflow-hidden">
          <img src="<%= asset_path(card[:url]) %>" alt="" class="w-full max-h-[200px] object-cover rounded-t-[8px]" />
          <a href="<%= asset_path(card[:href]) %>" class="w-full border border-[#DCDFE6] bg-white rounded-b-[8px] px-[18px]">
            <div class="h-[224px] overflow-cut">
              <p class="text-[20px] font-semibold pt-[16px] leading-[22px] ">
                <%= card[:title]  %>
              </p>
              <p class="text-[16px] text-[#909399] leading-[24px] ">
                <%= card[:time]  %>
              </p>
              <p class="pt-[16px] pb-[24px] text-center text-[16px] text-[#909399]">
                <%= card[:text]  %>
              </p>
            </div>
          </a>
        </div>
      <% end  %>
    </div>
  </div>
  <%# Experts %>
  <div class="max-w-[1280px] m-auto mt-[100px] sm:mt-[50px]">
    <%# ExpertsText %>
    <div class="text-center mb-[88px] sm:mb-[44px]">
      <div class="text-[48px] text-[#303133] font-semibold mb-[24px]">专家社区</div>
      <div class="text-[#606266] text-[20px] mb-[24px]">共建开源开放、共享开源生态<br/>为用户提供技术支持及咨询，解决方案设计指导等</div>
      <a href="/experts">
        <div class="hover:bg-[white] hover:text-[black] border-2 hover:border-black rounded-[40px] cursor-pointer text-center text-[20px] font-semibold bg-black text-white w-[200px] py-[11px] m-auto">了解更多 </div>
      </a>
    </div>
    <div class="grid grid-cols-3 mlg:grid-cols-1 gap-[24px] justify-items-center">
      <% LANDING_PAGE['experts'].each do |expert| %>
        <expert-card name="<%= expert["name"] %>"
                    type="<%= expert["type"] %>"
                    tags="<%= expert["tags"] %>"
                    title="<%= expert["title"] %>"
                    desc="<%= expert["desc"] %>"
                    avatar="<%= asset_path(expert["avatar"]) %>">
        </expert-card>
      <% end %>
    </div>
  </div>
  <%# Partners %>
  <div class="max-w-[1280px] m-auto mb-[100px] sm:mb-[50px] mt-[100px] sm:mt-[50px]">
    <%# PartnersText %>
    <div class="text-center mb-[88px]">
      <div class="text-[48px] text-[#303133] font-semibold mb-[24px]">OpenCSG 合作伙伴</div>
      <div class="text-[#606266] text-[20px] mb-[24px]">连接与共建解决方案生态，携手合作伙伴，打造共创、共赢、共享的合作伙伴新生态</div>
    </div>
    <%# PartnersCards %>
    <div class="mb-[10px]">
      <p class="text-center sm:w-full text-gray-500 font-light italic"> * 以下数据根据拼音首字母排序 * </p>
    </div>
    <div class="grid grid-cols-4 xl:grid-cols-3 lg:grid-cols-2 sm:grid-cols-1 gap-[24px] justify-items-center max-w-[1280px] m-auto">
      <% @partners.each do |partner| %>
        <div class="w-[278px] bg-white h-[80px] flex items-center justify-center rounded-[8px]">
        <img class="max-h-[48px]" src="<%= asset_path(partner["logo"]) %>" />
        </div>
      <% end %>
    </div>
  </div>
</div>