<div class="max-w-7xl m-auto">
  <div>
    <%= image_tag url_for(@campaign.desktop_banner), class: "sm:hidden w-full" %>
    <%= image_tag url_for(@campaign.mobile_banner), class: "hidden sm:block w-full" %>
  </div>
  <div class="my-[25px] flex md:flex-col">
    <div class="max-w-[932px] bg-white rounded-[8px] p-[16px] flex-1">
      <div class="flex justify-between items-center">
        <h3 class="text-[#303133] text-[48px] font-[600]"> <%= @campaign.name %></h3>
        <% if @campaign.signing_up? %>
          <a href="<%= @campaign.form_url %>">
            <el-button type="primary" round>
              立即报名
            </el-button>
          </a>
        <% end %>
      </div>
      <el-tag class="mb-[8px]" type="<%= campaign_status_type(@campaign.status) %>"><%= t("campaign.#{@campaign.status}") %></el-tag>
      <p class="text-[#909399] text-[14px] my-[8px]">活动时间: <%= @campaign.start_date.strftime("%Y-%m-%d") %> ~ <%= @campaign.end_date.strftime("%Y-%m-%d") %></p>
      <p class="text-[#909399] text-[14px] my-[8px]">活动地点: <%= @campaign.location %></p>
      <hr class="my-[30px]" />
      <p><%= @campaign.content %></p>
    </div>
    <div class="ml-[25px] text-[20px] md:mt-[16px] md:mr-[25px]">
      <p>相关应用</p>
      <div class="flex flex-col gap-y-[6px] mt-[8px]">
        <% @related_spaces.each do |space| %>
          <space-card title="<%= space.title %>"
                      desc="<%= space.desc %>"
                      author="<%= space.author %>"
                      created-at="<%= space.created_at %>"
                      cover-image="<%= space.cover_image_url || asset_path('default_cover_image.png') %>"
                      tags="<%= space.tags.to_json %>"
                      status="<%= space.status %>"
                      star-chain-id="<%= space.space_starchain_id %>"
                      space-type="<%= space.space_type %>"
                      author_uuid="<%= space.user.login_identity %>"
          >
          </space-card>
        <% end %>
      </div>
    </div>
  </div>
</div>