<div class="bg-white">
  <finetune-detail
    :owner-url="'<%= @owner_url %>'"
    user-name="<%= current_user.name %>"
    namespace = "<%= @namespace %>"
    name = "<%= @name %>"
    finetune-name = "<%= @finetune_name %>"
    finetune-id = "<%= @finetune_id %>"
    path = "<%= @path %>"
  >
  </finetune-detail>
</div>