<div class="bg-white">
  <finetune-detail
    :settings-visibility="<%= @settings_visibility %>"
    :owner-url="'<%= @owner_url %>'"
    user-name="<%= params[:namespace] %>"
    namespace = "<%= params[:namespace] %>"
    name = "<%= params[:name] %>"
    finetune-name = "<%= params[:finetune_name] %>"
    finetune-id = "<%= params[:finetune_id] %>"
  >
  </finetune-detail>
</div>