<div class="flex justify-center md:flex-col  my-[24px] rounded-[8px] md:px-[50px] sm:px-[20px] max-w-[1280px] m-auto bg-white">
  <div class="md:mb-[24px] mr-[24px] bg-[#FAFAFA] sm:bg-white md:bg-white">
    <profile name="<%= @user.name %>"
             display-name="<%= @user.display_name %>"
             phone="<%= @user.phone %>"
             email="<%= @user.email %>"
             avatar="<%= @user.avatar_url %>"
             last-login-time="<%= @user.last_login_at %>"
             login-identity="<%= @user.login_identity %>"
             roles="<%= @user.roles.to_json %>"
             orgs="<%= @user.organizations.to_json %>"
             :is-logged-in="<%= @is_current_user_access %>"
    ></profile>
  </div>
  <div class="grow pr-4 py-[36px]">
    <%# Spaces %>
    <div class="flex items-center justify-between mb-[16px] max-w-[1280px]">
      <div class="flex items-center gap-[8px]">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><g opacity="0.12"><path d="M1.5 4.5C1.5 3.56812 1.5 3.10218 1.65224 2.73463C1.85523 2.24458 2.24458 1.85523 2.73463 1.65224C3.10218 1.5 3.56812 1.5 4.5 1.5C5.43188 1.5 5.89782 1.5 6.26537 1.65224C6.75542 1.85523 7.14477 2.24458 7.34776 2.73463C7.5 3.10218 7.5 3.56812 7.5 4.5C7.5 5.43188 7.5 5.89782 7.34776 6.26537C7.14477 6.75542 6.75542 7.14477 6.26537 7.34776C5.89782 7.5 5.43188 7.5 4.5 7.5C3.56812 7.5 3.10218 7.5 2.73463 7.34776C2.24458 7.14477 1.85523 6.75542 1.65224 6.26537C1.5 5.89782 1.5 5.43188 1.5 4.5Z" fill="#7B58CF"/><path d="M1.5 13.5C1.5 12.5681 1.5 12.1022 1.65224 11.7346C1.85523 11.2446 2.24458 10.8552 2.73463 10.6522C3.10218 10.5 3.56812 10.5 4.5 10.5C5.43188 10.5 5.89782 10.5 6.26537 10.6522C6.75542 10.8552 7.14477 11.2446 7.34776 11.7346C7.5 12.1022 7.5 12.5681 7.5 13.5C7.5 14.4319 7.5 14.8978 7.34776 15.2654C7.14477 15.7554 6.75542 16.1448 6.26537 16.3478C5.89782 16.5 5.43188 16.5 4.5 16.5C3.56812 16.5 3.10218 16.5 2.73463 16.3478C2.24458 16.1448 1.85523 15.7554 1.65224 15.2654C1.5 14.8978 1.5 14.4319 1.5 13.5Z" fill="#7B58CF"/><path d="M10.5 13.5C10.5 12.5681 10.5 12.1022 10.6522 11.7346C10.8552 11.2446 11.2446 10.8552 11.7346 10.6522C12.1022 10.5 12.5681 10.5 13.5 10.5C14.4319 10.5 14.8978 10.5 15.2654 10.6522C15.7554 10.8552 16.1448 11.2446 16.3478 11.7346C16.5 12.1022 16.5 12.5681 16.5 13.5C16.5 14.4319 16.5 14.8978 16.3478 15.2654C16.1448 15.7554 15.7554 16.1448 15.2654 16.3478C14.8978 16.5 14.4319 16.5 13.5 16.5C12.5681 16.5 12.1022 16.5 11.7346 16.3478C11.2446 16.1448 10.8552 15.7554 10.6522 15.2654C10.5 14.8978 10.5 14.4319 10.5 13.5Z" fill="#7B58CF"/></g><path d="M1.5 4.5C1.5 3.56812 1.5 3.10218 1.65224 2.73463C1.85523 2.24458 2.24458 1.85523 2.73463 1.65224C3.10218 1.5 3.56812 1.5 4.5 1.5V1.5C5.43188 1.5 5.89782 1.5 6.26537 1.65224C6.75542 1.85523 7.14477 2.24458 7.34776 2.73463C7.5 3.10218 7.5 3.56812 7.5 4.5V4.5C7.5 5.43188 7.5 5.89782 7.34776 6.26537C7.14477 6.75542 6.75542 7.14477 6.26537 7.34776C5.89782 7.5 5.43188 7.5 4.5 7.5V7.5C3.56812 7.5 3.10218 7.5 2.73463 7.34776C2.24458 7.14477 1.85523 6.75542 1.65224 6.26537C1.5 5.89782 1.5 5.43188 1.5 4.5V4.5Z" stroke="#7B58CF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.5 4.5C10.5 3.56812 10.5 3.10218 10.6522 2.73463C10.8552 2.24458 11.2446 1.85523 11.7346 1.65224C12.1022 1.5 12.5681 1.5 13.5 1.5V1.5C14.4319 1.5 14.8978 1.5 15.2654 1.65224C15.7554 1.85523 16.1448 2.24458 16.3478 2.73463C16.5 3.10218 16.5 3.56812 16.5 4.5V4.5C16.5 5.43188 16.5 5.89782 16.3478 6.26537C16.1448 6.75542 15.7554 7.14477 15.2654 7.34776C14.8978 7.5 14.4319 7.5 13.5 7.5V7.5C12.5681 7.5 12.1022 7.5 11.7346 7.34776C11.2446 7.14477 10.8552 6.75542 10.6522 6.26537C10.5 5.89782 10.5 5.43188 10.5 4.5V4.5Z" stroke="#7B58CF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M1.5 13.5C1.5 12.5681 1.5 12.1022 1.65224 11.7346C1.85523 11.2446 2.24458 10.8552 2.73463 10.6522C3.10218 10.5 3.56812 10.5 4.5 10.5V10.5C5.43188 10.5 5.89782 10.5 6.26537 10.6522C6.75542 10.8552 7.14477 11.2446 7.34776 11.7346C7.5 12.1022 7.5 12.5681 7.5 13.5V13.5C7.5 14.4319 7.5 14.8978 7.34776 15.2654C7.14477 15.7554 6.75542 16.1448 6.26537 16.3478C5.89782 16.5 5.43188 16.5 4.5 16.5V16.5C3.56812 16.5 3.10218 16.5 2.73463 16.3478C2.24458 16.1448 1.85523 15.7554 1.65224 15.2654C1.5 14.8978 1.5 14.4319 1.5 13.5V13.5Z" stroke="#7B58CF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.5 13.5C10.5 12.5681 10.5 12.1022 10.6522 11.7346C10.8552 11.2446 11.2446 10.8552 11.7346 10.6522C12.1022 10.5 12.5681 10.5 13.5 10.5V10.5C14.4319 10.5 14.8978 10.5 15.2654 10.6522C15.7554 10.8552 16.1448 11.2446 16.3478 11.7346C16.5 12.1022 16.5 12.5681 16.5 13.5V13.5C16.5 14.4319 16.5 14.8978 16.3478 15.2654C16.1448 15.7554 15.7554 16.1448 15.2654 16.3478C14.8978 16.5 14.4319 16.5 13.5 16.5V16.5C12.5681 16.5 12.1022 16.5 11.7346 16.3478C11.2446 16.1448 10.8552 15.7554 10.6522 15.2654C10.5 14.8978 10.5 14.4319 10.5 13.5V13.5Z" stroke="#7B58CF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
        <span class="text-[20px] leading-[28px] font-semibold"><%= t('profile.index.spaces') %></span>
      </div>
      <% if @spaces.count != 0 %>
        <a href="/spaces" class="flex items-center gap-[8px]">
          <span class="text-[14px] text-[#409EFF] leading-[22px]"><%= t('profile.index.view_all') %></span>
        </a>
      <% end %>
    </div>
    <% if @spaces.count != 0 %>
      <div class="grid grid-cols-2 mlg:grid-cols-1 gap-[25px] justify-items-center max-w-[1280px] m-auto mb-[34px]">
      <% @spaces.each do |space| %>
        <space-card title="<%= space.title %>"
                    desc="<%= space.desc %>"
                    author="<%= space.author %>"
                    created-at="<%= space.created_at %>"
                    cover-image="<%= space.cover_image_url || asset_path('default_cover_image.png') %>"
                    tags="<%= space.tags.to_json %>"
                    status="<%= space.status %>"
                    star-chain-id="<%= space.space_starchain_id %>"
                    space-type="<%= space.space_type %>"
                    author_uuid="<%= space.user.login_identity %>"
            >
        </space-card>
      <% end %>
      </div>
    <% else %>
      <div class="mb-[34px]"><%= t('profile.index.no_data') %></div>
    <% end %>
    <profile-repo-list
      :model-list="<%= JSON.parse(@models).to_json %>"
      :dataset-list="<%= JSON.parse(@datasets).to_json %>"
      :space-list="<%= JSON.parse(@spaces).to_json %>"
      :code-list="<%= JSON.parse(@codes).to_json %>"
      name="<%= @user.name %>"
    >
    </profile-repo-list>
  </div>
</div>

