<div class="flex justify-center items-center flex-col lg:px-[106px] md:px-[50px]">
  <div class="flex justify-center items-center text-center flex-col max-w-[1280px] not-italic gap-y-[16px] px-[266px] my-[60px]">
    <p class="text-5xl">Hire a OpenCSG Expert</p>
    <p>Find a OpenCSG-endorsed partner to help with your next project. Browse Experts based
      on what
      your need and reach out to start a conversation.</p>
  </div>
  <div class="grid grid-cols-3 xl:grid-cols-2 mlg:grid-cols-1 gap-[24px] justify-items-center mb-[60px]">
    <% EXPERTS.each do |expert| %>
      <expert-card name="<%= expert["name"] %>"
                   type="<%= expert["type"] %>"
                   tags="<%= expert["tags"] %>"
                   title="<%= expert["title"] %>"
                   desc="<%= expert["desc"] %>"
                   avatar="<%= asset_path(expert["avatar"]) %>">
      </expert-card>
    <% end %>
  </div>
</div>
